/*style pour ma modal d'ajout au panier'*/
#ma_modal{
    padding: 20px;
}
/* CSS pour le prix dans la page product*/
.page_product_price{
    color: red;
    font-size: 16px;
}

.button_clear_cart{
    float: right;
    background: none;
    border: none;
}

.cart_delete_product{
    cursor: pointer;
}

.cart_btn_validate{
    margin-bottom: 30px;
    float: right;
        background: none;
   
}

