#page_inscription{
    margin: 0 auto;
}

#page_inscription > #form_inscription{
    width:100%;
    margin: 0 auto;
    padding: 9px;
    text-align: center;
}

#page_inscription > #form_inscription input,#page_inscription > #form_inscription select{
    margin: 0 auto;
    width: 50%;
    height: 30px;
    margin-bottom: 15px;
}

#page_inscription > #form_inscription p{
    border-left : 4px solid #ccc;
    padding-left: 6px;
    margin-bottom: 15px;
}

#page_inscription > #form_inscription input,#page_inscription > #form_inscription label{
    display:block;
}
#page_inscription > #form_inscription input[type=submit]{
    margin-top: 20px;
}

.error{
    color: red;
    display: inline;
}

.alert-success{
    width: 96%;
    padding: 20px;
    background-color: #befda9;
    text-align: center;
    color: #1b6901;
    font-family:  verdana,  arial,  sans-serif;
    margin-bottom: 25px;
}
